POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=default_db

BACKUP_DIR=/backups

BACKUP_HOURLY_KEEP=5
BACKUP_HOURLY_SCHEDULE="0 * * * *"
BACKUP_DAILY_KEEP=7
BACKUP_DAILY_SCHEDULE="0 0 * * *"
BACKUP_WEEKLY_KEEP=4
BACKUP_WEEKLY_SCHEDULE="0 0 * * 1"
BACKUP_MONTHLY_KEEP=6
BACKUP_MONTHLY_SCHEDULE="0 0 1 * *"
